# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pdb

# Virtual environments
venv/
.env/
*.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Node.js (if applicable)
node_modules/

# Docker
*.log
.dockerignore

# Miscellaneous
*.bak
*.swp

# Coverage
.coverage/
*.cover

# Ignore CSV, TXT, ASC, and NPZ files
*.csv
*.txt
*.asc
*.npz

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.svg

*.keras