# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pdb

# Virtual environments
venv/
.env/
*.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Node.js (if applicable)
node_modules/

# Docker
*.log
.dockerignore

# Miscellaneous
*.bak
*.swp

# Coverage
.coverage/
*.cover
